.logo1 {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.nav1 {
    margin: 5px;
    padding: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.liNav1:hover {
    transform: scale(1.1); 
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}